<!-- views/partials/header.ejs -->

<link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" >
<style>
    body    { padding-top:50px; }
    li {font-color: blue;}
    
</style>

<nav class="navbar navbar-default" style="background-color:blue" role="navigation">
<div class="container-fluid">

    <div class="navbar-header ">
        <a class="navbar-brand " href="/" style="color:#fff">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            BlogLogo
        </a>

        <ul class="nav navbar-nav">
            <li ><a style="color:yellow" href="/">Home</a></li>
            <li><a style="color:yellow" href="/blog/authors">Authors</a></li>
            <!--li><a href="/blog/posts">Posts</a></li-->
            <li><a style="color:yellow" href="/blog/comments">Comments</a></li>
            <li><a style="color:yellow" href="/blog/categories">Categories</a></li>
            <li><a style="color:yellow" href="/blog/users">Users</a></li>
        </ul>
    </div>

</div>
</nav>